.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    color: black;
    font-weight: bold;
    margin: 0 5%;
}

.menu ul.nav_top,
.box-user ul.nav_user {
    height: 100%;
    display: flex;
    flex-direction: row;
}

ul,
ol {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}